.sm_article {
  padding: 5px 0;
  border-bottom: 1px solid #f1f0ee;
}
.sm_article h6 {
  font-weight: bold;
}
.sm_article h6 a {
  text-decoration: none;
  color: #333132;
}
.sm_article h6 a:hover {
  color: #005b81;
  transition: all 0.35s ease;
}
.sm_article span {
  color: #767674;
  font-style: italic;
  font-size: 13px;
}
